Resource_1 RCDATA "..\\..\\..\\..\\Desktop\\Assistente para instalação de drive soluti\\libeay32.dll"
Resource_2 RCDATA "..\\..\\..\\..\\Desktop\\Assistente para instalação de drive soluti\\ssleay32.dll"
